@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;

}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #9f76b4;
    z-index: 99;
}

.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

nav .logo a:hover {
    color: #444;
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.shadows-box {
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
    border-radius: 8px;
}


ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    /*border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);*/
    color: white;
}

.section {
    background-color: var(--extra-light);
}

.section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action__btns {
    display: flex;
    gap: 1rem;
}

.action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid #9f76b4;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.About {
    background-color: #9f76b4;
    color: white;
}

.About:hover {
    background-color: white;
}


.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);

}

/*  ---------- Activities ----------- */



/*  ---------- Certificate ----------- */

.container {
    max-width: 1140px;
    margin: auto;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.gallery {
    line-height: 40px;
    background-color: white;
    padding: 100px 7px;
}

.gallery .section-title h1:before {
    left: 30%;
}

.gallery .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.gallery .filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.gallery .filter-buttons ul li {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}

.gallery .filter-buttons ul li.active {
    color: #9f76b4;
    border-bottom: 2px solid #9f76b4;
}

.gallery .portfolio-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery .portfolio-gallery .item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;

}

.gallery .portfolio-gallery .item .inner {
    position: relative;
}

.gallery .portfolio-gallery .item img {
    width: 100%;
    display: block;
}

/* <---------- 

/* <---------- mobile ----------> */

@media (width < 750px) {
    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .action__btns {
        margin: auto;
    }

    .gallery .portfolio-gallery .item {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }


}


@media(max-width:500px) {

    .gallery .portfolio-gallery .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

